<header>
    <div class="userContainer">
        <img src="../../../assets/img/profile/female/f3.jpg" alt="Cameron Lane">
        <div class="userContainer__infos">
            <p class="userContainer__infos__name">Cameron Lane</p>
            <p class="userContainer__infos__job">HR-manager</p>
        </div>
    </div>
    <div class="buttonsContainer">
        <button>
            <fa-icon [icon]="faBell"></fa-icon>
            Notifications
        </button>
        <button>
            <fa-icon [icon]="faGear"></fa-icon>
            Settings
        </button>
        <button>
            <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
            Log out
        </button>
    </div>
</header>