$bgGradientTopColor: rgb(246, 243, 248);
$bgGradientBottomColor: rgb(249, 250, 254);
$bgContainerColor: rgb(249, 249, 252);
$bgJobContainerColor: rgb(235, 236, 252);

$darkPurple: rgb(21, 7, 78);
$slightlyLighterPurple: rgb(34, 19, 96);
$purple: rgb(134, 117, 235);
$linkColor: rgb(241, 239, 250);
$separatorColor: #eee;
$inputColor: #ccc;

$white: rgb(255, 255, 255);
$fontColor: rgb(153, 161, 201);