<nav>
    <div class="linkContainer selected">
        <a class="selected" href="#">
            <fa-icon [icon]="faUsers"></fa-icon>
            Personnel
        </a>
        <div class="overlay"></div>
    </div>
    <div class="linkContainer">
        <a href="#">
            <fa-icon [icon]="faCompass"></fa-icon>
            Who's away
        </a>
    </div>
    <div class="linkContainer">
        <a href="#">
            <fa-icon [icon]="faBell"></fa-icon>
            News
        </a>
    </div>
    <div class="linkContainer">
        <a href="#">
            <fa-icon [icon]="faCalendarXmark"></fa-icon>
            Events
        </a>
    </div>
    <div class="linkContainer">
        <a href="#">
            <fa-icon [icon]="faGear"></fa-icon>
            Settings
        </a>
    </div>
</nav>